footer {
  padding-top: 25px;
  padding-left: 100px;
  background-color: $smoky-black;
  color: $white;

  &__label {
    display: grid;
  }

  &__email {
    height: 40px;
    width: 350px;
    padding-top: 0;
    margin: 0;
  }
}

